<div class="container">
    <h1 class="text-center my-5">My Introduction</h1>
    <img class='profile' src="/img/profile.jpeg" alt="hy">
    <div>
        <br>
    </div>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Hang Yu</h2>
        <p class="card-text">Computer Science</p>
        <p class="card-text">MS-4 Student</p>
        <hr>
        <h3>Contact Information:</h3>
        <p class="card-text">Email: yuh@brandeis.edu</p>
        <p class="card-text">Phone: 978-402-6365</p>
        <p class="card-text">LinkedIn: https://www.linkedin.com/in/hy22/</p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-core.min.js"
    integrity="sha384-AvR5W2OL8Kj1xF+/iNwv/W89c3W3CrX9jKx/5l5OM5TpLW8BzKRLsmQ85Km/DHtL"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>