<div class="container">
    <h1>Generated Email Reply</h1>
    <a href="/email">Back to form</a>
    <table class="table">

      <tbody>
        <tr>
            <th><h5><b>Input Email</b></h5></th>
          </tr>

        <tr>
          <td><%= emails[emails.length - 1].inputEmail %></td>
        </tr>
        
        <tr>
            <th><h5><b>Output Email</b></h5></th>
        </tr>

        <tr>
            <td><%= emails[emails.length - 1].outputEmail %></td>
        </tr>
      </tbody>
    </table>
</div>