body {
    background-image: url(https://images.unsplash.com/photo-1674198346799-c40c4e9e77d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80); 
    background-size:cover
  }

  h1 {
    color:#0a5d94;
    font-family: 'Georgia';
    font-size: 34px;
    text-align: center;
  }

  h2 {
    color:#d5d7f1;
    font-family: Georgia;
    font-size: 28px;
  }
  
  p {
    color:#c6f8ff;
    font-family: Georgia;
    font-size: 19px;
    text-align: justify;
  }
  p a {
    text-align: center;
    color: transparent;
    font-size: 15px;
  }

  a img{
    text-align: center;
 }
 table tr th p {
    text-align: center;
    font-size: 18px;
  }
  table tr td p {
    text-align: center;
  }

  