body {
    background-color: rgb(76, 148, 172);
  }
  
  h1 {
    color: rgba(148, 53, 53, 0.504);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  table tr th p {
    text-align: center;
  }